@media only screen and (max-width: 768px) {
  /* responsive margin text setting */
  h1 {
    font-size: 65px;
    margin: 10px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    margin: 100px 0px 20px 0px;
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }

  /* responsive navbar */
  nav {
    position: relative;
}
  nav a:not(:first-child) {display: none;}
  nav a.icon {
    float: right;
    display: block;
  }
  nav.responsivenav {position: relative;}
  nav.responsivenav .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsivenav a {
    float: none;
    display: block;
    text-align: left;
  }

  /* responsive header */
  header img {
    margin: 80px auto 0px;
    display: block;
    float: none;
  }
  header .name {
    margin: 30px auto 0px;
    text-align: center;
  }
  header .name a {
    padding: 20px;
  }
  /* responsive certificate */
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  /* responsive contact */
  .email, .message {
    width: 80%;
    font-size: 14px;
  }
  #submit {
    width: 100px;
    margin: 16px auto;
  }
  /* responsive footer */
  footer {
    height: 350px;
  }
  .sosmed li, .menu li {
    font-size: 10px;
  }
  .copyright p{
    font-size: 13px;
}
}
@media only screen and (max-width: 600px) {
  .responsive {
      width: 100%;
  }
}