/* font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Ubuntu&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

/* navbar */
nav {
    background-color: black;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 99;
}
nav a{
    text-decoration: none;
    color: white;
    float: left;
    text-align: center;
    padding: 18px 20px;
}
nav a:hover {
    background-color: red;
}
nav .icon {
    display: none;
}
/* text setting */
h1 {
    font-size: 5.5vw;
    font-family: 'Nunito Sans', sans-serif;
    margin: 20px 0px;
}
h2 {
    font-size: 4vw;
}
h3 {
    font-size: 3.5vw;
    text-align: center;
    margin: 240px 0px 40px 0px;
}
p {
    font-size: 1.7vw;
    text-align: justify;
}

/* header */
header img {
    max-width: 250px;
    float: right;
    margin: 80px;
    position: relative;
    top: -60px;
}
header .name {
    margin: 120px 0px 20px 80px;
}
header span {
    color: blue;
}
button {
    background-color: #0059ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 36px 0px 46px 10px;
    cursor: pointer;
    border-radius: 10px;
}
button:hover {
    background-color: #0045c4;
}
header .name a{
    color: black;
    padding-right: 20px;
}

/* about me */
#about {
    margin: 40px;
}

/* certificate */
.gallery {
    border: 1px solid rgb(170, 170, 170);
}
  
.gallery:hover {
    border: 1px solid #777;
}
  
.gallery img {
    width: 100%;
    height: auto;
}
  
.description {
    padding: 15px;
    text-align: center;
}
  

.responsive {
    padding: 0 6px;
    width: 30%;
    float: left;
    margin: 20px;
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}