/* font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Ubuntu&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

/* navbar */
nav {
    background-color: black;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 99;
}
nav a{
    text-decoration: none;
    color: white;
    float: left;
    text-align: center;
    padding: 18px 20px;
}
nav a:hover {
    background-color: red;
}
nav .icon {
    display: none;
}
/* text setting */
h1 {
    font-size: 5.5vw;
    font-family: 'Nunito Sans', sans-serif;
    margin: 20px 0px;
}
h2 {
    font-size: 4vw;
}
h3 {
    font-size: 3.5vw;
    text-align: center;
    margin: 240px 0px 40px 0px;
}
p {
    font-size: 1.7vw;
    text-align: justify;
}

/* header */
header img {
    max-width: 250px;
    float: right;
    margin: 80px;
    position: relative;
    top: -60px;
}
header .name {
    margin: 120px 0px 20px 80px;
}
header span {
    color: blue;
}
header button {
    background-color: #0059ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 36px 0px 46px 10px;
    cursor: pointer;
    border-radius: 10px;
}
button:hover {
    background-color: #0045c4;
}
header .name a{
    color: black;
    padding-right: 20px;
}

/* about me */
#about {
    margin: 40px;
}

/* certificate */
.gallery {
    border: 1px solid rgb(170, 170, 170);
}
  
.gallery:hover {
    border: 1px solid #777;
}
  
.gallery img {
    width: 100%;
    height: auto;
}
  
.description {
    padding: 15px;
    text-align: center;
}
  

.responsive {
    padding: 0 6px;
    width: 30%;
    float: left;
    margin: 20px;
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* project */
.project {
    background-image: url('../img/html.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-size: 25px;
}
.timer {
    text-align: center;
    font-size: 9vw;
    padding: 80px 0px;
}
#timer {
    text-align: center;
    font-size: 4vw;
    padding: 40px 0px 50px 0px;
}
hr {
    width: 50%;
    margin: auto;
}
/* contact */
#contact {
    text-align: center;
    margin: auto;
}
#contact p {
    text-align: center;
    margin: 8px;
}
.email {
    width: 50%;
    height: 40px;
    font-size: 1.3vw;
}
.message {
    width: 50%;
    height: 40px;
    font-size: 1.3vw;
}
#contact button {
    background-color: #0059ff;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 0px 40px 0px;
    cursor: pointer;
    border-radius: 10px;
}

/* footer */
footer {
    background-color: rgb(37, 37, 37);
    height: 350px;
}
.sosmed, .menu, .text {
    float: left;
    width: 33.3%;
    padding-top: 30px;
}
.sosmed li, .menu li {
    list-style: none;
    padding: 20px;
    font-size: 1vw;
}
.sosmed a, .menu a{
    text-decoration: none;
    color: white;
    text-align: center;
}
.sosmed a:hover, .menu a:hover {
    font-weight: bolder;
}

.text p{
    font-size: 8vw;
    text-align: center;
    animation-name: text-rgb;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes text-rgb {
    from {color: rgb(13, 0, 255)}
    to {color: rgb(255, 0, 0);}
}